html,
body {
  background-color: $color-bcg;
  font-family: $font-basic;
  font-size: 14px;
  line-height: 1.14;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 320px;
    padding: 0 20px;
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    width: 768px;
    padding: 0 32px;
  }

  @media (min-width: 1280px) {
    width: 1280px;
    padding: 0 32px;
  }
}
