html,
body {
  background-color: $color-bcg;
  font-family: $font-basic;
  font-size: 14px;
  line-height: 1.14;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.icon {
  fill: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}



