<header class="header">
    <div class="header-container">
        <div class="header-menu">
            <div class="header-logo">
                <a href="./index.html" class="header-logo__link link">
                    <svg class="header-logo__icon" width="24" height="24">
                        <use href="./images/header_main_images/header_icon.svg#icon-film"></use>
                    </svg>
                    <p class="header-logo__title">Filmoteka</p>
                </a>
            </div>
            <nav class="header-nav">
                <ul class="header-nav__list list">
                    <li class="header-nav__item">
                        <a href="./index.html" class="header-nav__link link">HOME</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./library.html" class="header-nav__link link">MY LIBRARY</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-form">
            <form class="header-form__search">
                <input class="header-form__input" type="text" placeholder="Movie search"></input>
                <button class="header-form__btn" type="submit">
                    <svg class="header-form__icon" width="12" height="12">
                        <use href="./images/header_main_images/header_icon.svg#icon-search-2"></use>
                    </svg>
                </button>
                <p class="header-form__warning"></p>
            </form>
        </div>
    </div>
</header>