<header class="header header-lib">
  <div class="container header-container">
    <a href="./index.html" class="logo link">
      <!-- <img src="./" alt="Icon logo" /> -->
      <span class="logo__label">Filmoteka</span>
    </a>
    <nav class="header-nav">
      <ul class="nav-list list">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link link">HOME</a>
        </li>
        <li class="header-nav__item">
          <a
            href="./library.html"
            class="header-nav__link header-nav__link--current link"
          >
            MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <div class="header-lib-button">
      <button type="button" class="header-movie-button" data-id="watched-btn">
        WATCHED
      </button>
      <button type="button" class="header-movie-button" data-id="queue-btn">
        QUEUE
      </button>
    </div>
  </div>
</header>
