<!-- Modal window  -->

<div class="modal ">
  <button type="button" class="modal__btn">
    <svg
      class="modal__icon__close"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M8 8L22 22" stroke="black" stroke-width="2" />
      <path d="M8 22L22 8" stroke="black" stroke-width="2" />
    </svg>
  </button>
  <div class="modal__wrap">
    <img
      src="https://i.postimg.cc/3NCbB391/zaglyshka.jpg"
      alt=""
      width="240px"
      height="357px"
    />
    <h2>Nazvanie filma</h2>
    <ul class="modal__list list">
      <li>
        <p><span>Vote / Votes</span>Reuting</p>
      </li>
      <li>
        <p><span>Popularity</span>Popylyarnost</p>
      </li>
      <li>
        <p><span>Original Title</span>Nazvanie filma</p>
      </li>
      <li>
        <p><span>Genre</span>Janr</p>
      </li>
    </ul>
    <h3>ABOUT</h3>
    <p>
      Four of the West’s most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they’ve been double crossed – but by who and
      how?
    </p>
  </div>
</div>
