.team__wrap {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.member__thumb {
    width: 120px;

}

.member__image {

}

.member__role {
    font-size: 12px;
}

.member__name {
    font-size: 12px;
    font-weight: 500;
}

.member__link {
    @extend .link;
    font-size: 12px;
}